name: Docker Image CI
on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: | 
          docker build . --file Dockerfile --tag shivaaws69/demo_nodejs_webpage:latest
          docker push shivaaws69/demo_nodejs_webpage:latest
