name: Docker Image CI
on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: | 
          DOCKER_USERNAME = shivaaws69
          DOCKER_PASSWORD = dckr_pat_-Q2PitIFrBPrHBqRAfcM9qiShts
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

          docker build . --file Dockerfile --tag shivaaws69/demo_nodejs_webpage:latest
          docker push shivaaws69/demo_nodejs_webpage:latest
